<div class="row">
	<div class="col-xs-offset-10 col-xs-2" style="text-align: right">
		<%= link_to raw("<i class='fa fa-save'></i>"), {:action => :update}, :class => "btn-sm btn btn-primary" %>
		<%= link_to raw("<i class='fa fa-reply'></i>"), {:action => :index}, :class => "btn-sm btn btn-secondary active" %>
	</div>
</div>
<h2>Ruta carbon cerro san cristobal</h2>
<div class="row">
</div>