

<div class="row">
	<div class="col-xs-offset-10 col-xs-2" style="text-align: right">		
		<%= link_to raw("<i class='fa fa-reply'></i>"), {:action => :index}, :class => "btn-sm btn btn-secondary active" %>
	</div>
	<h2>New Track</h2>
</div>
<div class="row" ng-app="tracks">	
	<%= render 'form', object: @track %>		
</div>