</main>
<main>
	<div class="container-fluid">
		<div id="banner" class="row">
			<div>
				<p>Elevation profile and markers for your tracks</p>
				<a href="/tracks" class="btn btn-primary btn-lg">Try now</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="features-title">Features</h1>
			</div>
		</div>
		<div id="features-container" class="row">
			<div class="col-sm-3">
				<div class="features">
					<p><i class="fa fa-cloud-upload" aria-hidden="true"></i></p>
					<p>Upload your GPX track</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="features">
					<p><i class="fa fa-signal" aria-hidden="true"></i></p>
					<p>Visualize track elevation profile</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="features">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
					<p>Add markers to your track</p>
				</div>
			</div>			
			<div class="col-sm-3">
				<div class="features">
					<p><i class="fa fa-share-alt" aria-hidden="true"></i></p>
					<p>Save, edit and Share</p>
				</div>
			</div>
		</div>
	</div>
</main>