<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1'>
  <title>WolcuTracks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>
</head>
<body>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img src="/assets/logo.png">
			</div>
			<div class="col-md-10">
				<ul>
					
				</ul>
			</div>
		</div>
	</div>
</header>

<main class="container">
	<%= yield %>
</main>

<footer></footer>
</body>
</html>
